<form method="post" action="{{ path('commerce_newsletter_subscribe') }}">
    <div class="input-append">
    {{ form_widget(form.email,{
         'attr':{ 
            'placeholder' : 'Enter Your Email Address', 
            'class' : 'span3'
        }
    }) }}
        <button class="btn btn-info" type="submit">Sign Up</button>
    </div>
    {{ form_rest(form) }}
 </form>