<form id="search_mini_form" action="{{ path('commerce_search') }}" method="get">
	<fieldset>
	    <div class="input-append">
	    	<input id="search-query" type="text" name="q" placeholder="Search by memory type, part number, or system model">
	    	<button class="btn btn-inverse" id="search-query-button" type="submit"><i class="icon-search"></i> Search</button>
	    </div>
		<div id="search-autocomplete" class="search-autocomplete">

		</div>
	</fieldset>
</form>
